<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Contact List</h1>
        <br>
        <a href="/add" class="btn">Add Contact</a>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% contacts.forEach((contact, index) => { %>
                    <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.email %></td>
                        <td><%= contact.phone %></td>
                        <td >
                            <a href="/edit/<%= index %>" class="btn">Edit</a>
                            <a href="/delete/<%= index %>" class="btn" onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
<br>
       
    </div>
</body>
</html>
